.gradle

#th2 connectivity
evolution_all.log

#elcipse files
.metadata
.recommenders
.settings
.classpath
.project
RemoteSystemsTempFiles
Servers

build
srcgen
shared
gen
bin
external
provided

#temp files
.*.swp
.~*.*#

#IntelliJ IDEA files
*.iml
*.iws
.idea
out

#JMH files
BenchmarkList
CompilerHints